/*Main style*/

.container{
    margin: 0 auto;
    max-width: 1050px;
}

button{
    border-radius: 10px;
    background: #24ba9f;
    padding: 10px 20px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
}

/*Header*/



/*Sections*/



/*Footer*/